body{
  font-family: 'Karla';
}

h4{
  text-align: center;
  margin-top:40px;
}

.col-6{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 12px;
}

.btn{
  padding: 10px 20px;
  font-weight: 500;
}
