body{
  font-family: 'Karla';
}

::placeholder {
  color: red;
}


/* Navbar */
.navbar{
  background-color: #F6F7FB;
  border-bottom: 1px solid rgba(54, 54, 54, 0.1);
}

.navbar .nav-item{
  font-weight: 500 !important;
  color: rgba(54, 54, 54, 0.7);
}

.navbar .btn{
  font-weight: 500;
  color: #363636;
  padding: 10px 20px;
  background-color: #F6F7FB;
  border: 1px solid rgba(54, 54, 54, 0.2);
  border-radius: 6px;
}

.navbar .btn:hover{
  border: 2px solid #363636;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px #363636;
}


/* Hero section */
.hero{
  background-color: #F6F7FB;
  padding-bottom: 40px;
}

.hero h1{
  font-weight: 700;
  color: #363636;
}

.hero p{
  font-weight: 400;
  font-size: 18px;
  color: rgba(54, 54, 54, 0.7);
}

.form-control{
  border-radius: 7px 0px 0px 7px;
}

.input-group ::placeholder {
  color: rgba(54, 54, 54, 0.5);
  font-weight: 500;
}

.input-group .btn{
  background-color: #ffffff;
  color: #363636;
  padding: 12px 20px;
  font-weight: 500;
  border-radius: 0px 7px 7px 0px;
}

.input-group .btn:hover{
  /* border: 2px solid #363636; */
  box-sizing: border-box;
  box-shadow: 2px 2px 0px #363636;
}

.input-group .btn:focus{
  font-weight: 500;
}

.tombolcari .btn{
  background-color: #ee92b8;
  color: #7c2926;
  font-weight: 700;
  border: 2px solid #ee92b8;
  padding: 12px 20px;
  border-radius: 8px;
}

.tombolcari .btn:hover{
  background-color: #f295bb;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px #c6306e;
  border: 2px solid #7c2926;
}


/* Brands */
.brands{
  padding: 32px 0px;
}

.brands h5{
  font-weight: 500;
  font-size: 20px;
  color: rgba(54, 54, 54, 0.5);
}


/* Carousel review */
.carousel{
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #F6F7FB;
  color: #363636;
}

.carousel-item img{
  filter: drop-shadow(4px 4px 0px #363636);
}

.carousel-item h5{
  margin-top: 20px;
  margin-bottom: 4px;
}

.review p{
  font-weight: 700;
}


/* Breadcrumbs */
.breadcrumb{
  margin-top: 100px
}

.breadcrumb a{
  color: #e21f70;
  text-decoration: none;
}

.breadcrumb a:hover{
  text-decoration: underline;
}


/* Kendaraan */
.item-kendaraan{
  margin-top: 30px;
}

.figure{
  background-color: #F6F7FB;
  border: 2px solid rgba(54, 54, 54, 0.2);
  border-radius: 8px;
  color: #363636;
}

.figure:hover{
  border: 2px solid #363636;
  /* box-sizing: border-box; */
  box-shadow: 4px 4px 0px #363636;
}

.figure img{
  padding-top: 24px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 8px;
  margin: 0;
}

.figure-body{
  padding-bottom: 20px;
}

.figure h4{
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 16px;
}

.figure p{
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}


.figure .ri-group-line, .ri-price-tag-3-line, .ri-calendar-line{
  padding-left: 12px;
  margin-right: 8px;
}

/* Footer */
.footer{
  padding-top: 32px;
  padding-bottom: 16px;
  color: #363636;
}

.footer a{
  text-decoration: none;
  color: #363636;
  font-weight: 700;
}